image: $CI_GITLAB_REGISTRY_BASE/rd/tezi/qt-tezi/qt-tezi-sdk:latest

# Trigger this pipeline just in the scope of parent project 
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - when: never

stages:
  - arm
  - x86

build-tezi:
  stage: arm
  script:
    - source /usr/local/oecore-x86_64/environment-setup-armv7vet2hf-neon-oe-linux-gnueabi
    - qmake tezi.pro
    - make -j $(nproc || echo 4)
  artifacts:
    paths:
      - tezi

test-tezi:
  stage: x86
  script:
    # Compile on x86 using Debian Qt framework
    - qmake tezi-tests.pro
    - make -j $(nproc || echo 4)
    - ./tezi-tests

